@charset "UTF-8";
body {
  background-image: url(pictures/lake.jpg);
  background-size: 100%;
  position: fixed;
  margin: 0; }

/*.basement {
  top: 0;
  position: fixed;
  height: 100%;
  width: 25%;
  z-index: -1;
  background: red; 
}*/

/*.test {
  position: fixed;
    top: 20%;
    left: 15%;
  margin: auto;
    background-color: #b0e0e6;
    width: 75%;
    height: 50%;
   }*/


.begin{
    position: relative;
    width: 50%;
    height: 75%;
    left: 25%;
    top: 25%; 
    background: url(pictures/profilepic.jpg);
    background-size: 100%;
    border: 3px solid black;
    z-index: 1;
}


h1{
  font-size: 50px;
  font-family: ‘Lucida Console’, Monaco, monospace
}
.animation{
  background: red;
  height: 100%;
  width: 10%;
  position: absolute;
  left: 90%;

}

* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }

.row {
  display: block;
  width: 100%;
  clear: both; }

.col {
  display: block;
  float: left;
  padding: 1% 1% 0 1%; }

@media only screen and (max-width: 480px) {
  .col.large-1 {
    width: 8.33333%; }
  .col.large-2 {
    width: 16.66667%; }
  .col.large-3 {
    width: 25%; }
  .col.large-4 {
    width: 33.33333%; }
  .col.large-5 {
    width: 41.66667%; }
  .col.large-6 {
    width: 50%; }
  .col.large-7 {
    width: 58.33333%; }
  .col.large-8 {
    width: 66.66667%; }
  .col.large-9 {
    width: 75%; }
  .col.large-10 {
    width: 83.33333%; }
  .col.large-11 {
    width: 91.66667%; }
  .col.large-12 {
    width: 100%; }

  .col.med-1 {
    width: 8.33333%; }
  .col.med-2 {
    width: 16.66667%; }
  .col.med-3 {
    width: 25%; }
  .col.med-4 {
    width: 33.33333%; }
  .col.med-5 {
    width: 41.66667%; }
  .col.med-6 {
    width: 50%; }
  .col.med-7 {
    width: 58.33333%; }
  .col.med-8 {
    width: 66.66667%; }
  .col.med-9 {
    width: 75%; }
  .col.med-10 {
    width: 83.33333%; }
  .col.med-11 {
    width: 91.66667%; }
  .col.med-12 {
    width: 100%; }

  .col.small-1 {
    width: 8.33333%; }
  .col.small-2 {
    width: 16.66667%; }
  .col.small-3 {
    width: 25%; }
  .col.small-4 {
    width: 33.33333%; }
  .col.small-5 {
    width: 41.66667%; }
  .col.small-6 {
    width: 50%; }
  .col.small-7 {
    width: 58.33333%; }
  .col.small-8 {
    width: 66.66667%; }
  .col.small-9 {
    width: 75%; }
  .col.small-10 {
    width: 83.33333%; }
  .col.small-11 {
    width: 91.66667%; }
  .col.small-12 {
    width: 100%; } }
@media only screen and (min-width: 481px) {
  .col.large-1 {
    width: 8.33333%; }
  .col.large-2 {
    width: 16.66667%; }
  .col.large-3 {
    width: 25%; }
  .col.large-4 {
    width: 33.33333%; }
  .col.large-5 {
    width: 41.66667%; }
  .col.large-6 {
    width: 50%; }
  .col.large-7 {
    width: 58.33333%; }
  .col.large-8 {
    width: 66.66667%; }
  .col.large-9 {
    width: 75%; }
  .col.large-10 {
    width: 83.33333%; }
  .col.large-11 {
    width: 91.66667%; }
  .col.large-12 {
    width: 100%; }

  .col.small-1 {
    width: 8.33333%; }
  .col.small-2 {
    width: 16.66667%; }
  .col.small-3 {
    width: 25%; }
  .col.small-4 {
    width: 33.33333%; }
  .col.small-5 {
    width: 41.66667%; }
  .col.small-6 {
    width: 50%; }
  .col.small-7 {
    width: 58.33333%; }
  .col.small-8 {
    width: 66.66667%; }
  .col.small-9 {
    width: 75%; }
  .col.small-10 {
    width: 83.33333%; }
  .col.small-11 {
    width: 91.66667%; }
  .col.small-12 {
    width: 100%; }

  .col.med-1 {
    width: 8.33333%; }
  .col.med-2 {
    width: 16.66667%; }
  .col.med-3 {
    width: 25%; }
  .col.med-4 {
    width: 33.33333%; }
  .col.med-5 {
    width: 41.66667%; }
  .col.med-6 {
    width: 50%; }
  .col.med-7 {
    width: 58.33333%; }
  .col.med-8 {
    width: 66.66667%; }
  .col.med-9 {
    width: 75%; }
  .col.med-10 {
    width: 83.33333%; }
  .col.med-11 {
    width: 91.66667%; }
  .col.med-12 {
    width: 100%; } }
@media screen and (min-width: 768px) {
  .col.small-1 {
    width: 8.33333%; }
  .col.small-2 {
    width: 16.66667%; }
  .col.small-3 {
    width: 25%; }
  .col.small-4 {
    width: 33.33333%; }
  .col.small-5 {
    width: 41.66667%; }
  .col.small-6 {
    width: 50%; }
  .col.small-7 {
    width: 58.33333%; }
  .col.small-8 {
    width: 66.66667%; }
  .col.small-9 {
    width: 75%; }
  .col.small-10 {
    width: 83.33333%; }
  .col.small-11 {
    width: 91.66667%; }
  .col.small-12 {
    width: 100%; }

  .col.med-1 {
    width: 8.33333%; }
  .col.med-2 {
    width: 16.66667%; }
  .col.med-3 {
    width: 25%; }
  .col.med-4 {
    width: 33.33333%; }
  .col.med-5 {
    width: 41.66667%; }
  .col.med-6 {
    width: 50%; }
  .col.med-7 {
    width: 58.33333%; }
  .col.med-8 {
    width: 66.66667%; }
  .col.med-9 {
    width: 75%; }
  .col.med-10 {
    width: 83.33333%; }
  .col.med-11 {
    width: 91.66667%; }
  .col.med-12 {
    width: 100%; }

  .col.large-1 {
    width: 8.33333%; }
  .col.large-2 {
    width: 16.66667%; }
  .col.large-3 {
    width: 25%; }
  .col.large-4 {
    width: 33.33333%; }
  .col.large-5 {
    width: 41.66667%; }
  .col.large-6 {
    width: 50%; }
  .col.large-7 {
    width: 58.33333%; }
  .col.large-8 {
    width: 66.66667%; }
  .col.large-9 {
    width: 75%; }
  .col.large-10 {
    width: 83.33333%; }
  .col.large-11 {
    width: 91.66667%; }
  .col.large-12 {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
